body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121; /* Optional: background color for better visibility */
}

.container {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff; /* Optional: background color for the content area */
    border-radius: 8px; /* Optional: rounded corners for the content area */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for better visibility */
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

p {
    margin: 5px 0;
}

span {
    font-weight: bold;
}

#notification-settings {
    padding: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#notification-options {
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#current-reminder {
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}

#time-until-next-prayer, #hijri-date {
    margin: 10px 0;
    font-weight: bold;
}

